#personacaont{
    width: 100%;
    height: auto;

}
#personacaont>h3{
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    border-left: 5px solid #348bda;
    margin-bottom: 20px;
}
#personacaont>div{
    overflow: hidden;
    /*margin-bottom: 30px;*/
}
#personacaont>div>p{
    float: left;
    width: 50%;
    font-size: 16px;
    text-align: left;
    padding-left: 20px;
}
#personacaont>div>p>img{
    margin-right: 10px;
    width: 16px;
    height: 16px;
}
.tyt {
    display: flex;
    justify-content: space-between;
}
.tyt>h3{
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    border-left: 5px solid #348bda;
    margin-bottom: 20px;
}
.tyt>p>span {
    margin-right: 10px;
    font-size: 16px;
}
.tyt>p>span:hover {
    /*font-weight: bold;*/
    color: #3586f1;
    cursor: pointer;
}
.business_table table>tbody>tr>td {
    padding: 8px 8px
}
.top2 {
    margin-bottom: 30px;
}