*{
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 0px){
    #about_us>div{
        width: 90%;
    }
}
@media screen and (min-width: 768px){
    #about_us>div{
        width: 90%;
    }
}
@media screen and (min-width: 992px)  {
    #about_us>div{
        width: 960px;
    }
}
@media screen and (min-width: 1200px) {
    
}
@media screen and (min-width: 1600px){
   
}

#about_us{
    width: 100%;
    height: auto;
}
#about_us>div{
    height: auto;
    margin: 30px auto;
}
#about_us>div>p{
    font-size: 15px;
    text-align: justify; 
    text-justify: inter-ideograph; 
    text-indent: 2em;
    margin: 10px;
}
#about_us>div>#about_img{
   width: 100%;
   height: auto;
   height: 400px;
   margin-top: 20px;
   overflow: hidden;
}
#about_us>div>#about_img>div{
    float: left;
    height: auto;
    height: 100%;
    margin: 0 1%;
}
#about_us>div>#about_img>div:first-child{
    width: 58%;
    background-color: #ddd;
}
#about_us>div>#about_img>div:last-child{
    width: 38%;
}
#about_us>div>#about_img>div:last-child>div{
    width: 100%;
    background-color: #ddd;

}
#about_us>div>#about_img>div:last-child>div:first-child{
    margin-bottom: 4%;
    height: 48%;
}
#about_us>div>#about_img>div:last-child>div:last-child{
   height: 48%; 
}
.aboutImgA{
    background: url("../../images/about_img01.png") no-repeat center top; 
}
.aboutImgB{
    background: url("../../images/about_img02.png") no-repeat center top; 
}
.aboutImgC{
    background: url("../../images/about_img03.png") no-repeat center top; 
}